<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http:///es/gva/cit/gvcase/prototipo/rdbms.ecore" 
       class = "es.gva.cit.gvcase.prototipo.rdbms.RdbmsPackage"
       genModel = "model/rdbms.genmodel" /> 
  </extension>

</plugin>

