<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http:///es/gva/cit/gvmetrica/proinso.ecore" 
       class = "es.gva.cit.gvmetrica.proinso.ProinsoPackage"
       genModel = "model/proinso.genmodel" /> 
  </extension>

</plugin>

