<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>


  <extension
    point = "org.eclipse.ui.newWizards">
    <category
      id = "org.eclipse.emf.ecore.Wizard.category.ID"
      name="%_UI_Wizard_category">
    </category>
    <wizard
      id = "es.gva.cit.simapa.presentation.SimapaModelWizardID"
      name = "%_UI_SimapaModelWizard_label"
      class = "es.gva.cit.simapa.presentation.SimapaModelWizard"
      category = "org.eclipse.emf.ecore.Wizard.category.ID"
      icon = "icons/full/obj16/SimapaModelFile.gif">
      <description>%_UI_SimapaModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "es.gva.cit.simapa.presentation.SimapaEditorID"
        name = "%_UI_SimapaEditor_label"
        icon = "icons/full/obj16/SimapaModelFile.gif"
        extensions = "simapa"
        class = "es.gva.cit.simapa.presentation.SimapaEditor" 
        contributorClass="es.gva.cit.simapa.presentation.SimapaActionBarContributor" >
    </editor>
  </extension>    
  
  <extension
        point="org.eclipse.ui.preferencePages">
     <page
           name="Simapa Tree Preferences"
           class="es.gva.cit.simapa.preferences.SimapaTreePreferences"
           id="es.gva.cit.simapa.preferences.SimapaTreePreferences"/>
  </extension>    
   
  
</plugin>
